<div class="main-wrapper">
  <div class="header-container">
    <p class="text-uppercase">Contact list</p>
  </div>


  <div class="tabs-container">
    <ul>
      <li *ngFor="let item of tabItems; let i = index">
        <p [ngClass]="{'color-tab': selectedTabIndex === i, 'has-cursor': selectedTabIndex !== i}" (click)="switchTabSelection(i)">{{item}}</p>
      </li>
    </ul>
  </div>

  <div class="search-container">
    <div class="search-bar">
      <form>
          <span class="fa fa-search"></span>
        <input class="form-control" [(ngModel)]="searchText" name="searchText" placeholder="Search contact">
      </form>
    </div>
  </div>

  <p>
    <a routerLink="/contacts/add">add</a>
  </p>

  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="contact-form">

        <div class="divider"></div>



        <div class="row">
          <div class="col-lg-4 col-md-2 col-sm-1" *ngFor="let contact of contacts | filter : searchText" [hidden]="selectedTabIndex === 1 && !contact.isFavorite">



            <i class="fa" [ngClass]="{'fa-heart': contact.isFavorite, 'fa-heart-o': !contact.isFavorite}" (click)="changeFavoriteStatus(contact)"></i>

            <div (click)="openContactDetails(contact)">


              <p>{{contact.name}}</p>
              <p>{{contact.email}}</p>
              <p>{{contact.imgUrl}}</p>

            </div>

            <p (click)="editContact(contact)">edit</p>
            <p (click)="deleteContact(contact)">delete</p>

          </div>


        </div>


        <div class="clearfix">
        </div>
      </div>
    </div>
    <div class="divider"></div>
  </div>



</div>