//color definitions
@color-white: #fff;
@color-brand: #43a0b0;
@color-text: #C0C0C0;
//general
html,
body {
    height: 100%;
}

//helpers
.color-tab {
    color: @color-brand !important;
}

.has-cursor {
    cursor: pointer;
}

.text-uppercase {
    text-transform: uppercase;
}

//main
.header-container {
    width: 80%;
    position: fixed;
    height: 60px;
    border-bottom: 5px solid lightblue;
    background-color: @color-brand;
    text-align: center;
    p {
        line-height: 55px;
        font-size: 24px;
        color: @color-white;
    }
}

@media (max-width:768px) {
    .header-container {
        width: 100%;
    }
}

.main-wrapper {
    border: 1px solid green;
    width: 80%;
    margin: auto;
    font-family: "Roboto";
    font-size: 14px;
}

@media (max-width:768px) {
    .main-wrapper {
        width: 100%;
    }
}

.tabs-container {
    width: 90%;
    margin: auto;
    margin-top: 60px;
    height: 120px;
    border-bottom: 2px solid @color-brand;
    text-align: center !important;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        width: 300px;
        margin-bottom: 0 !important;
    }
    li {
        float: left;
        &:first-child {
            border-right: 1px solid @color-text;
        }
    }
    li p {
        color: @color-text;
        padding: 0 15px;
        text-decoration: none;
        margin: 0;
        font-size: 18px;
    }
}

.search-container {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    .search-bar {
        margin: auto;
        width: 50%;
        position: relative;
        input {
            text-indent: 25px;
            height: 60px;
        }
        .fa-search {
            position: absolute;
            top: 20px;
            left: 10px;
            font-size: 16px;
        }
    }
}

@media (max-width:768px) {
    .search-bar {
        width: 80%;
    }
}